<div class="container">
    <div class="bar-part">
        <div class="bar" style="background-color: @BarColor"></div>
    </div>
    <div class="info-part">
        <div class="title-part">
            <span class="title">@Title
                <span class="tooltiptext">@TooltipText</span>
            </span>
            <span class="description">@TitleDescription</span>
        </div>
        <div class="value-part">
            <span class="value">@string.Format("{0:0.00}", Value)</span>
            <span class="description">@ValueDescription</span>
        </div>

    </div>
</div>
