@page "/about"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.AboutPageTitle)]</PageTitle>


<section class="about-page">
    <div class="about-page-background"></div>
    <div class="about-us-top-page">
        <div class="top-page-title">@Localizer[nameof(AppStrings.AboutPageTitle)]</div>
        <div class="top-page-desc">@Localizer[nameof(AppStrings.AboutUsDesc1)]<br />@Localizer[nameof(AppStrings.AboutUsDesc2)]</div>
    </div>
    <div class="about-team">
        <div class="about-team-title">@Localizer[nameof(AppStrings.MeatOurTeam)]</div>
        <div class="about-team-desc">
            <div class="about-team-text">@Localizer[nameof(AppStrings.MeatOurTeamDesc)]</div>
        </div>
        <div class="team-members">
            <div class="team-member team-member1">
                <div class="team-member-info">
                    <div class="team-member-info-header">Mehran Davoudi</div>
                    <div class="team-member-info-desc">Chief Technology Officer</div>
                </div>
            </div>
            <div class="team-member team-member2">
                <div class="team-member-info">
                    <div class="team-member-info-header">Mehran Davoudi</div>
                    <div class="team-member-info-desc">Chief Technology Officer</div>
                </div>
            </div>
            <div class="team-member team-member3">
                <div class="team-member-info">
                    <div class="team-member-info-header">Mehran Davoudi</div>
                    <div class="team-member-info-desc">Chief Technology Officer</div>
                </div>
            </div>
            <div class="team-member team-member4">
                <div class="team-member-info">
                    <div class="team-member-info-header">Mehran Davoudi</div>
                    <div class="team-member-info-desc">Chief Technology Officer</div>
                </div>
            </div>
            <div class="team-member team-member5">
                <div class="team-member-info">
                    <div class="team-member-info-header">Mehran Davoudi</div>
                    <div class="team-member-info-desc">Chief Technology Officer</div>
                </div>
            </div>
            <div class="team-member team-member6">
                <div class="team-member-info">
                    <div class="team-member-info-header">Mehran Davoudi</div>
                    <div class="team-member-info-desc">Chief Technology Officer</div>
                </div>
            </div>
        </div>
    </div>

    <RecapTonrich></RecapTonrich>
</section>