@page "/"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.HomeTitle)]</PageTitle>

<section class="landing-page">
    @* <div class="hero-section">
        <div class="hero-content">
            <div class="hero-title">@Localizer[nameof(AppStrings.HeroTitle)]</div>
            <div class="hero-description">
                @Localizer[nameof(AppStrings.HeroDescription)]
            </div>
            <button class="tonrich-primary-btn">@Localizer[nameof(AppStrings.HeroButton)]</button>
        </div>
        <div class="hero-img"></div>
    </div>
    <div class="what-section"></div>
    <div class="how-section">
        <div class="plugin-intro"></div>
        <div class="telegram-intro"></div>
        <div class="site-intro"></div>
        <div class="plugin-intro"></div>
    </div>
    <div class="supported-websites-section"></div>
 *@
    
    <div class="hero-section">
            <div class="hero-img"></div>
            <div class="hero-content">
                <div class="hero-content-title">TonRich</div>
                <div class="hero-content-description">
                    A handy tool for deep insight into TON wallets and NFT
                    auctions
                </div>
                <button class="hero-content-btn">
                    Try our plug-in now<span
                        class="btn-arrow arrow-black"
                    ></span>
                </button>
            </div>
        </div>

        <div class="discover-section">
            <div class="splash-of-color"></div>
            <div class="discover-content">
                <div class="discover-frame">DISCOVER TONRICH</div>
                <div class="discover-header">What is <span>TonRich?</span></div>
                <div class="discover-text">
                    Tonrich is the ultimate tool for anyone who wants to uncover
                    the secrets of TON wallets and gain valuable insights into
                    the NFT market. Download Tonrich today and start your
                    journey into the world of TON wallets and NFT auctions!
                </div>
                <div class="discover-text discover-text-padding-top">
                    You can also use Tonrich to compare different wallets and
                    see how they relate to each other.
                </div>
            </div>
            <div class="discover-app"></div>
        </div>

        <div class="how-sections">
            <div class="how-to-use">How to use it?</div>

            <div class="browser-intro how-section">
                <div class="splash-of-color"></div>

                <div class="browser-content">
                    <div class="introducing-frame">INTRODUCING</div>
                    <div class="browser-header">Browser plug-in</div>
                    <div class="browser-text">
                        In publishing and graphic design, Lorem ipsum is a
                        placeholder text commonly used to demonstrate the visual
                        form of a document or a typeface without relying on
                        meaningful content.
                    </div>
                    <button class="browser-btn">
                        Try our plug-in now<span
                            class="btn-arrow arrow-black black-arrow"
                        ></span>
                    </button>
                </div>

                <div class="browser-img"></div>
            </div>

            <div class="telegram-intro how-section">
                <div class="splash-of-color"></div>
                <div class="splash-of-color"></div>

                <div class="telegram-content">
                    <div class="telegram-header">Telegram bot</div>
                    <div class="telegram-text">
                        In publishing and graphic design, Lorem ipsum is a
                        placeholder text commonly used to demonstrate the visual
                        form of a document or a typeface without relying on
                        meaningful content.
                    </div>
                    <button class="telegram-btn">Try our bot now<span
                        class="btn-arrow arrow-black black-arrow"
                    ></span></button>
                </div>

                <div class="telegram-img1"></div>
                <div class="telegram-img2"></div>
            </div>

            <div class="check-intro how-section">
                <div class="splash-of-color"></div>
            </div>
        </div>

    @* todo: make this part a component *@
    <div class="recap-section"></div>
</section>

@* <div class="page-container">
<section class="page-section hero-section">
<h1 class="hero-section-title">@Localizer[nameof(AppStrings.HomeTitle)]</h1>

<div class="hero-section-desc">
@Localizer[nameof(AppStrings.ComingSoon)]
</div>

<BitTextField Class="wallet-input" Placeholder="Enter your wallet address..."
OnChange="(c)=>ChangeWalletAddress(c)"></BitTextField>
<BitButton Href=@($"/wallet/{WalletAddress}")>Connect to wallet</BitButton>
</section>
</div> *@
